@model IEnumerable<MovieBase.Genre>

@{
    ViewData["Title"] = "Список жанрів";
}

<h1>Жанри</h1>

<p>
    <a asp-action="Create">Додати жанр</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                @Html.ActionLink("Фільми", "Index", "MoviesGenres", routeValues: new {genreId = item.Id})|
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
